<!doctype html>
<html ng-app="store" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular.js test</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-controller="StoreController as store">

  <section ng-init="tab = 1" ng-controller="PanelController as panel">
    <ul class="nav nav-pills">
      <li ng-class="{ active:panel.isSelected(1) }">
        <a href ng-click="panel.selectTab(1)">Description</a>
      </li>
      <li ng-class="{ active:panel.isSelected(2) }">
        <a href ng-click="panel.selectTab(2)">Specifications</a>
      </li>
      <li ng-class="{ active:panel.isSelected(3) }">
        <a href ng-click="panel.selectTab(3)">Reviews</a>
      </li>
    </ul>
    <div class="panel" ng-show="panel.isSelected(1)">
      <h4>Description</h4>
      <p>{{ product.description }}</p>
    </div>
    <div class="panel" ng-show="panel.isSelected(2)">
      <h4>Specification</h4>
      <p>None yet</p>
    </div>
    <div class="panel" ng-show="panel.isSelected(3)">
      <ul>
        <h4>Reviews</h4>
        <li ng-repeat="review in product.reviews">
          <blockquote>
            <strong ng-model="review.stars"> Stars</strong>
            <cite class="clearfix">—</cite>
          </blockquote>
        </li>
      </ul>

      <form name="reviewForm">
        <blockquote>
          <b>Stars: {{ review.stars }}</b>
          {{ review.body }}
          <cite>by: {{ review.author }}</cite>
        </blockquote>

        <select ng-model="review.stars">
          <option value="1">1 star</option>
          <option value="2">2 stars</option>
        </select>
        <textarea ng-model="review.body"></textarea>
        <label>by:</label>
        <input ng-model="review.author" type="email">
        <input type="submit" value="submit">
      </form>

  </div>
  </section>

  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
